  @page "/About"
  
  <!-- Bootstrap core CSS -->
  <link href="../wwwroot/css/bootstrap/bootstrap.min.css" rel="stylesheet">

 

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <img width="250" height="250" src="../wwwroot/img/logo.png" alt="">
          <p class="lead text-muted">Intituto Tecnologico de las Americas.</p>
         
        </div>
      </div>
    </section>    

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <h5 class="card-header text-center">Grupon N</h5>
          <div class="card-body">
            <table class="text-center table table-dark table-hover">
      
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Matriclula</th>
                </tr>
              </thead>
              <tbody>
                <tr>            
                  <td>Andriel Castillo</td>
                  <td>2018-7294</td>
                </tr>
                <tr>
                  <td>Anderson</td>
                  <td>####</td>
                </tr>
                <tr>
                  <td>Hector</td>
                  <td>####</td>
                </tr>
                <tr>
                  <td>Rafael Sierra</td>
                  <td>2019-7771</td>
                </tr>
                
              </tbody>
            
          </table>
            
            
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  <br>


    



