@page "/"
@using Models 

<div>
    <h1 class="text-center">Formulario para ser vacunado en casa</h1>
    <hr />
    <br />
    <div class="card" style="width: 55rem;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Datos Requeridos</h5>
            <input type="text" class="form-control" placeholder="Cedula" @bind="cedula" />
            <input type="text" class="form-control" placeholder="Nombre" @bind="nombre" />
            <input type="text" class="form-control" placeholder="Apellido" @bind="apellido" />
            <input type="text" class="form-control" placeholder="Teléfono" @bind="telefono" />
            <input type="text" class="form-control" placeholder="Correo Electrónico" @bind="correo" />
            <input type="text" class="form-control" placeholder="Fecha de Nacimiento" @bind="fecha_nacimiento" />
            <select @bind="tipo_sangre" class="form-control">
                <option value="" disabled selected hidden>Tipo de sangre</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
            </select>
            <input type="text" class="form-control" placeholder="Provincia" @bind="provincia" />
            <input type="text" class="form-control" placeholder="Dirección" @bind="direccion" />
            <input type="text" class="form-control" placeholder="Latitud" @bind="lat" />
            <input type="text" class="form-control" placeholder="Longitud" @bind="lon" />
            <select @bind="covid" class="form-control">
                <option value="" disabled selected hidden>¿Le dio covid?</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>
            <input type="text" class="form-control" placeholder="Justifique" @bind="justificacion" />
            <button class="btn btn-primary" @onclick="AgregarVacuna" id="btnejemplo">Enviar datos</button>
        </div>
    </div>
    <br /><br />

    <div id="ca">
        @if (mensaje == 1)
        {
            <div class="alert alert-success" role="alert">
                Gracias por enviar los datos Sr/a. @nombre
            </div>
        }

        @if (mensaje_error == 1)
        {
            <div class="alert alert-danger" role="alert">
                Ya su solicitud fue registrada, se envió una confirmación al correo: @correo_verificado favor verificar.
            </div>
        }

        @if (mensaje_vacio == 1)
        {
            <div class="alert alert-danger" role="alert">
                Por favor complete todos los datos.
            </div>
        }
    </div>
</div>
<hr>

@code{
    string cedula = "", nombre = "", apellido = "", telefono = "", correo = "",
        fecha_nacimiento = "", tipo_sangre = "", provincia = "", direccion = "", lat = "", lon = "", covid = "";

    int mensaje = 0, mensaje_error = 0, mensaje_vacio = 0;
    string justificacion = "";
    string correo_verificado;
    bool validar;

    public void AgregarVacuna()
    {
        using (db_a72461_backupContext contexto = new db_a72461_backupContext())
        {
            validar = contexto.Vacunas.Any(ee => ee.Cedula == cedula);

            if (validar)
            {
                Vacunas va = contexto.Vacunas
                        .Where(e => e.Cedula == cedula)
                        .FirstOrDefault();

                correo_verificado = va.Correo;
                mensaje = 0;
                mensaje_vacio = 0;
                mensaje_error = 1;
            }

            else
            {
                Vacunas vacu = new Vacunas();
                vacu.Cedula = cedula;
                vacu.Nombre = nombre;
                vacu.Apellido = apellido;
                vacu.Telefono = telefono;
                vacu.Correo = correo;
                vacu.FechaNacimiento = fecha_nacimiento;
                vacu.TipoSangre = tipo_sangre;
                vacu.Provincia = provincia;
                vacu.Direccion = direccion;
                vacu.Latitud = lat;
                vacu.Longitud = lon;
                vacu.Covid = covid;
                vacu.Justifique = justificacion;

                if (vacu.Cedula == "" || vacu.Nombre == "" || vacu.Apellido == "" || vacu.Telefono == "" || vacu.Correo == "" ||
                    vacu.FechaNacimiento == "" || vacu.TipoSangre == "" || vacu.Provincia == "" || vacu.Direccion == "" || vacu.Latitud == "" ||
                    vacu.Longitud == "" || vacu.Covid == "" || vacu.Justifique == "")
                {
                    mensaje = 0;
                    mensaje_error = 0;
                    mensaje_vacio = 1;
                }

                else
                {
                    contexto.Add(vacu);
                    contexto.SaveChanges();
                    mensaje_error = 0;
                    mensaje_vacio = 0;
                    mensaje = 1;

                    cedula = "";
                    apellido = "";
                    telefono = "";
                    correo = "";
                    fecha_nacimiento = "";
                    tipo_sangre = "";
                    provincia = "";
                    direccion = "";
                    lat = "";
                    lon = "";
                    covid = "";
                    justificacion = "";
                }
            }

        }
    }
}
